<template>
  <section class="section">
    <!-- <div class="box"> -->
      <form @submit.prevent="login">
        <h1 class="has-text-centered title"> Log In </h1>
        <div class="field">
          <label class="label"> Email </label>
          <input 
            v-model="loginForm.email"
            class="input" 
            type="text"
          />
        </div>
         <div class="field">
          <label class="label"> Password </label>
          <input 
            v-model="loginForm.password"
            class="input" 
            type="password"
          />
        </div>
        <div class="buttons is-centered">
          <button 
            class="button is-primary"
            type="submit"
          >
            Log In
          </button>
        </div>
      </form>
    <!-- </div> -->
  </section>
</template>
<script>
import {auth} from '../firebase'
export default {
  data () {
    return {
      loginForm: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    login () {
      if (this.loginForm.email && this.loginForm.password) {
        console.log('ey')
        auth
          .signInWithEmailAndPassword(this.loginForm.email, this.loginForm.password)
          .then(response => {
            if (response) {
              console.log(response)
            } else {
              throw new Error('Unable to log in')
            }
          })
          .catch(err => {
            console.log(err)
          })
      }
    }
  }
}
</script>
