<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'pesongco-flores-optical-system'
  }
</script>

<style lang="scss">
@import './design/baseDesign.scss';
</style>